### Astro ###
dist/
.astro/

### VS Code ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Node ###
# logs
npm-debug.log*
pnpm-debug.log*

# dependencies
node_modules/
pnpm-lock.yaml
*.lock

### Others ###
# Agent Configurations (temp ignore)
.agents/
AGENTS.md
opencode.json
skills-lock.json

# Windows file system metadata
*Zone.Identifier